<div id="content" class="container">
  <h1>Welcome to Flickr Jr!</h1>
  <p><b>Beautiful photo, Beautiful moments</b></p>

  <% @photos.each do |photo| %>
  <a href="/albums/<%= photo.album.id %>/<%= photo.id %>"><img src="/images/<%= photo.file_name %>" width="400px" height="400px"></a>
  <h4><%= photo.caption %></h4>
  Album: <a href="/albums/<%= photo.album.id %>"><%= photo.album.title %></a>
  <br>
  Posted by: <a href="/users/<%= photo.album.user_id %>"><%= photo.album.user.username %></a>
  <% end %>

</div>
